{{!< default}}
<div class="it-page">
    <div class="it-container">
		{{#post}}
			<header class="it-page-head">
		        {{#if feature_image}}
		            <figure class="it-feature-image-wrapper">
		                <img class="it-feature-image" 
		                    srcset="{{img_url feature_image size="s"}} 300w,
		                            {{img_url feature_image size="m"}} 600w,
		                            {{img_url feature_image size="l"}} 1000w,
		                            {{img_url feature_image size="xl"}} 2000w"
		                    sizes="(max-width: 1000px) 490px, 2000px"
		                    src="{{img_url feature_image size="m"}}"
		                    alt="{{title}}"
		                />
		            </figure>
		        {{/if}}
		    	<h1 class="it-title">{{title}}</h1>
		        {{#if custom_excerpt}}
		            <p class="it-excerpt">{{custom_excerpt}}</p>
		        {{/if}}
		    </header>
		{{/post}}
	</div>
		
	<div class="it-container">
	    <div class="it-tags it-grid-c3">
	    	{{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
		        {{#foreach tags}}
		            <a class="tag-card" href="{{url}}" style="--accent-color: {{accent_color}};">
                    {{#if feature_image}}
                        <div class="tag-card-image">
                            <img src="{{img_url feature_image}}" alt="{{name}}">
                        </div>
                    {{/if}}
                    <div class="tag-card-body">
                        <h1 class="tag-card-title">{{name}}</h1>
                        {{#if description}}
                            <p class="tag-card-description">{{description}}</p>
                        {{/if}}
												<span class="tag-count">{{count.posts}} {{t "Articles"}}</span>
                    </div>
                </a>
		        {{/foreach}}
		    {{/get}}
	    </div>
	</div>
</div>

